{%- if section.settings.show_section_divider or section.settings.show_section_divider_mobile -%}
  <div class=" {% if section.settings.full_width %}md:pl-0 md:pr-0{% else %}x-pgw page-width{% endif %} {% if section.settings.full_width_mobile %} full-width-mobile{% else %} pr-5 pl-5{% endif %} m-auto">
    <div class="divider{{ classHeader }} m-auto border-t{% unless section.settings.show_section_divider_mobile %} hidden{% endunless %}{% if section.settings.show_section_divider %} md:block{% else %} md:hidden{% endif %}">
    </div>
  </div>
{%- endif -%}