<div class="custom-html" {{ block.shopify_attributes }}>
  {{ block.settings.custom_html }}
</div>
{% schema %}
{
  "name": "t:sections.featured-product.blocks.html.name",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_html",
      "label": "t:sections.featured-product.blocks.html.settings.custom-html.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product.blocks.html.name",
      "category": "t:sections.promotion-banner.settings.desktop_content_position.options__10.label"
    }
  ]
}
{% endschema %}