<div class="background-footer sticky-footer flex flex-col items-center pt-12 pl-5 pr-5">
  {% render 'toolbar', enable_footer: true, footer_password_page: true, show_social_icons: true %}
  {% capture shopify %}
    <a class="disable-effect" href="//www.shopify.com" rel="nofollow" target="_blank" aria-describedby="a11y-new-window-message" aria-label="Shopify">
      {% render 'icon-media', icon: 'icon-shopify' %}
    </a>
  {% endcapture %}
  <p class="md:mt-2 flex items-center">{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</p>
  <p class="mt-2 md:mt-5 mb-16">{{ 'general.password_page.admin_link_html' | t }}</p>
</div>
{% schema %}
{
  "name": "t:sections.main-password-footer.name"
}
{% endschema %}
