<div id="mobile-cart-icon-bubble" class="count_item absolute top-2 left-3" data-value="{{ cart.item_count }}">
  <div class="bg-[rgba(var(--colors-cart))] text-[rgba(var(--colors-cart-text))] font-medium h-5 w-5 ml-1 rounded-full text-[10px]{% if cart == empty %} hidden{% endif %}">
    {%- if cart.item_count < 100 -%}
      <span class="h-full flex items-center justify-center" aria-hidden="true">{{ cart.item_count }}</span>
    {%- else -%}
      <span class="h-full flex items-center justify-center">99+</span> 
    {%- endif -%}
  </div>
</div>